* {
  margin: 0;
  padding: 0;
}

.section-color {
  background-color: #f8f9fa;
}

div.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-top: 32px;
}

h2 {
  text-align: center;
  margin: 48px 0;
}

/* menu */

ul.top-menu {
  text-align: center;
  margin-top: 32px;
}

ul.top-menu li {
  padding: 16px 32px;
  background-color: white;
  margin: 8px;
  list-style: none;
}

ul.top-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

div.profile-picture {
  text-align: center;
}

div.profile-picture img {
  width: 70%;
}

div.intro {
  padding: 32px 0;
  text-align: center;
  color: rgb(136, 136, 136);
  font-size: 20px;
}

div.portfolio-image img {
  width: 100%;
}

div.portfolio-text {
  text-align: center;
  margin: 32px 0;
}

div.portfolio-text h3 {
  margin-bottom: 16px;
}

/* footer */

.contact-title {
  padding-top: 56px;
}

.contact-text,
.phone,
.email {
  text-align: center;
}

.phone {
  margin: 24px 0;
}

.email {
  margin-bottom: 56px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom p,
.footer-bottom ul {
  font-weight: bold;
  margin: 32px 0;
}

.bottom-menu {
  display: none;
}

@media (min-width: 768px) {
  ul.top-menu {
    display: flex;
    justify-content: center;
  }

  ul.top-menu li {
    background-color: #f8f9fa;
    padding: 16px;
    margin-bottom: 48px;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 64px;
  }

  div.intro {
    padding: 0px;
  }

  div.profile-picture img {
    width: 70%;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .back-to-top {
    display: none;
  }

  .bottom-menu {
    display: flex;
    list-style: none;
  }

  .bottom-menu li {
    margin-left: 16px;
  }

  .bottom-menu li a {
    text-decoration: none;
    color: #333;
  }
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
}